/Ejercicio10Teoria/nbproject/private/
/Ejercicio10Teoria/build/
/Ejercicio10/nbproject/private/
/Ejercicio10/build/
/Ejercicio11/nbproject/private/
/Ejercicio11/build/
/Ejercicio12/nbproject/private/
/Ejercicio13/nbproject/private/
/Ejercicio13/build/